<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
    <title><%= title_template %></title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/about.html">about</a>
    </nav>
    <div class="separator"></div>
    <main>
      <%= main_template %>
    </main>
  </body>
</html>
