@font-face {
  font-family: "Roboto Slab";
  src: url("/static/roboto_slab_regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url("/static/fira_code_regular.ttf") format("truetype");
}

:root {
  --spacing: 18px;
  --content-width: 605px;
  --color-divider: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FFFFFF;
    --color-bg: #181818;
    --color-link: #00b0f4;
    --color-code-bg: #000000;
    --color-code-border: #595959;
  }

  .code-highlight > .k, .no, .se { color: #66D9EF; }
  .code-highlight > .nf, .vc, .kp { color: #A6E22E; }
  .code-highlight > .c1 { color: #223344; }
  .code-highlight > .s2 { color: #E6DB74; }
  .code-highlight > .si { color: #F92782; }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #181818;
    --color-bg: #FFFFFF;
    --color-link: #0067E0;
    --color-code-bg: #F2F2F2;
    --color-code-border: #DBDBDB;
  }

  .code-highlight > .k, .no, .se { color: #0087FF; }
  .code-highlight > .nf, .vc, .kp { color: #39AC04; }
  .code-highlight > .c1 { color: #707A93; }
  .code-highlight > .s2 { color: #D0A911; }
  .code-highlight > .si { color: #F92782; }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-family: "Roboto Slab";
  font-size: 16px;
  text-rendering: optimizelegibility;

  display: flex;
  padding-top: 18px;
}

hr {
  border-color: var(--color-divider);
}

table, td, th {
    border: 1px inset var(--color-divider);
    border-collapse: collapse;
    border-spacing: 0;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

nav {
  display: flex;
}

@media (orientation: landscape) {
  nav {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  nav {
    flex-direction: column;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
    width: 100%;
  }
}

.nav-items {
  display: flex;
  gap: var(--spacing);
  font-size: 20px
}

@media (orientation: landscape) {
  .nav-items {
    flex-direction: column;
    align-items: center;
    padding-left: calc(2 * var(--spacing));
    padding-right: calc(2 * var(--spacing));
  }
}

@media (orientation: portrait) {
  .nav-items {
    flex-direction: row;
    width: 100%;
    padding-bottom: var(--spacing);
    align-items: center;
  }

  .nav-items > *:not(:first-of-type) {
    font-size: 16px;
  }
}

.nav-line {
  background-color: var(--color-divider);
}

@media (orientation: landscape) {
  .nav-line {
    width: 2px;
    min-height: 100%;
  }
}

@media (orientation: portrait) {
  .nav-line {
    width: 100%;
    max-width: var(--content-width);
    height: 2px;
  }
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px transparent solid;
  /* transparent border to prevent resizing on hover */
}

nav a:hover, nav a:focus {
  border-bottom: 1px var(--color-text) solid;
}

main {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  overflow: hidden;
}

main > * {
  width: var(--content-width);
  max-width: 100%;
}

@media (orientation: landscape) {
  .home-section {
    margin-bottom: var(--spacing):
  }

  .home-section > h2 {
    margin-top: 0;
  }
}

.home-section > h3 {
  margin-bottom: 0;
}

.home-section > p {
  margin-top: 0;
}

.idea-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.idea-emoji {
  min-width: 3ch;
}

h1 {
  margin-top: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px transparent solid;
}

a:hover, a:focus {
  border-bottom: 1px var(--color-link) solid;
}

.code-block {
  margin: 20px 0;
  width: 100%;
}

.code-label {
  font-family: "Fira Code";
  width: fit-content;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--color-code-bg);
  padding: 0 0.5ch;
  border: 1px solid var(--color-code-border);
  border-bottom: none;
}

code {
  font-family: "Fira Code";
  border-radius: 3px;
  background-color: var(--color-code-bg);
  padding: 0 0.5ch;
  border: 1px solid var(--color-code-border);
}

pre > code {
  border-radius: unset;
  background-color: unset;
  padding: unset;
  border: unset;
}

pre {
  margin: 0;
  overflow-x: auto;
  min-width: min(100%, var(--content-width));
  width: fit-content;
  max-width: 100%;

  border-radius: 3px;
  background-color: var(--color-code-bg);
  padding: 0 0.5ch;
  border: 1px solid var(--color-code-border);
}
