@font-face {
  font-family: "Roboto Slab";
  src: url("/static/roboto_slab_regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url("/static/fira_code_regular.ttf") format("truetype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FFFFFF;
    --color-bg: #181818;
    --color-link: #00b0f4;
    --color-code-bg: #000000;
    --color-code-border: #595959;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #181818;
    --color-bg: #FFFFFF;
    --color-link: #0067E0;
    --color-code-bg: #F2F2F2;
    --color-code-border: #DBDBDB;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-family: "Roboto Slab";
  font-size: 16px;
  text-rendering: optimizelegibility;

  display: flex;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2ch;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    align-items: center;
  }
}

nav {
  position: relative;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (orientation: landscape) {
  nav {
    flex-direction: column;
    min-width: 12ch;
  }
}

@media (orientation: portrait) {
  nav {
    flex-direction: row;
    max-width: 55ch;
    width: 100%;
    margin-bottom: 2ch;
  }
}

.nav-border {
  background-color: white;
  position: absolute;
}

@media (orientation: landscape) {
  .nav-border {
    right: 0;
    top: 5%;
    width: 1px;
    height: 90%;
  }
}

@media (orientation: portrait) {
  .nav-border {
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
  }
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px transparent solid;
  margin-top: 1.5ch;
  margin-bottom: 1.5ch;
}

@media (orientation: portrait) {
  nav a:not(:first-of-type) {
    font-size: 16px;
  }
}

nav a:hover, nav a:focus {
  border-bottom: 1px var(--color-text) solid;
}

main {
  max-width: 66ch;
  margin-left: 2ch;
  margin-right: 2ch;
}

main h1:first-of-type {
  margin-top: 0;
}

.post-link {
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px transparent solid;
}


a:hover, a:focus {
  border-bottom: 1px var(--color-link) solid;
}

code {
  font-family: "Fira Code";
  border-radius: 3px;
  background-color: var(--color-code-bg);
  padding: 0 0.5ch;
  border: 1px solid var(--color-code-border);
}
