<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>home | jai.moe</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/posts">posts</a>
    </nav>
    <main>
      <h1>Website Under Construction!</h1>
      <h2>Latest posts:</h2>
      <% posts.each do |post| %>
        <a href="<%= "/posts/#{post.slug}.html" %>"><%= post.title %></a> - <%= post.date %>
      <% end %>
    </main>
  </body>
</html>
